:root {
  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
}

button,
input,
textarea,
select {
  font: inherit;
}
